extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    each svg in svgs
      li
        svg(role='img' class='icon #{svg}')
          use(xlink:href='##{svg}')
        span.title #{svg}
